test_images/
0*.jpg

.env
*.env
.venv

.ipynb_checkpoints/

__pycache__/
.pytest_cache/
*.pyc
*egg-info
.ruff_cache/
dist/*

environment.yml

papers/

.vscode/

node_modules/

data/raw/capture/
data/raw/catalog_test/
data/test/
data/train/

models/
preview_combined_*
